@import "../../theme";

.login-page{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .left-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 20vw;
        
        .andela-logo{
            margin: 20% 0% 0% 10%;
            width: 7.7vw;
            height: 4.5vh;
        }

        .welcome-text{
            margin-top: 40vh;
            margin-left: 2vw;
            width: 70%;


            p{
                font-family: 'DIN Pro Extra Light';
                font-size: 25px;

                .wire{
                    font-family: 'DIN Pro Light';
                    font-style: italic;
                }
                
            }
        }
        .button{
            
            .google-logo{
                display: inline-block;
                width: 3vw;
                height: 60%;
                padding: 0%;
                margin-left: 0%;

            }
            .label{
                display: inline-block;
            }
        }

     }
        


    .right-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 80vw;


        .landing-image{
            height: 100vh;
            width: 80vw;
        }

        .right-text{
            position: absolute;
            color: #fbaf31;
            font-size: 40px;
            font-weight: 500;
            margin-left: 45vw;
            margin-top: 23vh;

        }
        .underline{
            position: absolute;
            background-color: #fdb237;
            width: 7vw;
            height: 0.5vh;
            border-radius: 5px;
            margin-left: 48vw;
            margin-top: 39vh;


        }
        

    }
}
