@import "../../theme";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.login-page {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .left-column {
        flex: 1;

        .left-container{
           
            flex-direction: column;
            align-items: center;
            width: 35vw;
            height: 100vh;
            background-color: #f1f6f8;  
            
            .andela-logo{
                
                flex-direction: column;
                margin: 5rem 5rem 5rem 5rem;
                width: 13rem;
                height: 4rem;
            }
            
            .welcome-text{
                flex-direction: column;
                margin: 23rem 10rem 0rem 5rem;
                width: 55%;

                p{
                    font-size: 25px;
                    font-family: 'PT Sans';
                    padding: 0%;
                    font-weight: 300;
                    letter-spacing: 1.15px;
                    line-height: 1.44;

                }
                    .wire{
                        font-style: italic;
                    }

                }
            .button {
                display: flex;
                flex-direction: row;
                margin-top: auto;
                

                .google-logo {
                    
                    display: inline-block;
                    width: 3rem;
                    height: 60%;
                    box-sizing: border-box;
                    margin-left: 0%;
                            }
                .label {
                    display: inline-block;
                    font-family: 'PT Sans';
                    margin-top: 1.3rem;


                }
  
                        }
                    
            
                   
        }
    }

    .right-column {
        flex: 1;

            .landing-image{

                flex-direction: column;
                align-items: center;
                width: 65vw;
                height: 100vh;

            }
        }
}
