@import '../../theme.scss';

.table-header {
  background-color: map-get($blue, 200);
  &>th {
    color: white !important;
  }
}

.incident-flag {
  width: 2rem;
  height: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.all-incidents {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .incidents {
    display: flex;
    width: 33rem;
    flex-direction: column;
    background: #f5f5f5;
    border-radius: .4rem;
    margin: 2rem 0.5rem;

    .incident-cards {
      flex-direction: column;
      align-items: center;
      height: 65vh;
      overflow-y: scroll;
      justify-content: space-between;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      .incident-status {
        font-family: 'DIN Pro Light';
        font-weight: 300;
        position: relative;
        top: 1rem;
        left: 1rem;
        margin-left: 1.5%;
      }
      .underline {
        width: 150px;
        height: 5px;
        border-radius: 5px;
        position: relative;
        margin-left: 1.5%;
        margin-bottom: 4rem;
        top: 2rem;
        left: 1rem;
      }
      .no-incidents {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        .folder {
          font-size: 5rem;
          margin-top: 7rem;
          width: 6rem;
          height: 5rem;
        }
        p {
          position: relative;
          text-align: center !important;
          vertical-align: middle !important;
          color: #3960ad;
          font-family: 'DIN Pro Extra Light';
        }
        .status {
          font-style: italic;
          color: rgba(57, 96, 173, 0.6);
        }
      }

      .incident-card {
        display: flex;
        flex-direction: column;
        margin: 5%;
        min-height: 9rem;
        height: auto;
        opacity: 0.8;
        border-radius: 5px;
        border: solid 1px rgba(0, 0, 0, 0.2);
        box-shadow: none;
        .card-header {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 0;
          .incident-report-date {
            margin: 3% 0 0 5%;
            color: #95989a;
            font-size: 0.85rem;
          }
          .incident-time {
            font-style: italic;
            margin: 3% 3% 0 1%;
            color: #95989a;
            font-size: 0.85rem;
          }
          .incident-flag {
            margin-left: auto;
            margin-top: 3%;
            margin-bottom: 0;
            .flag-image {
              width: 0.8rem;
              height: 1.2rem;
            }
          }
        }
        .incident-subject {
          margin: 0 3% 3% 5%;
          color: #000000;
          font-size: 1.2rem;
        }
        .incident-description {
          margin: 0% 3% 3% 5%;
          font-size: 0.7rem;
          color: rgba(0, 0, 0, 0.7);
        }
        .assigned-to {
          display: flex;
          flex-direction: row;
          margin-bottom: 1%;
          .assignee {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4px;
            margin: 0% -2.5% 3% 5%;
            width: 2rem;
            height: 1rem;
            border-radius: 3px;
            font-size: 0.7rem;
          }
          .unassigned {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 6px;
            margin: 0% -2.5% 3% 5%;
            width: 4rem;
            height: 1rem;
            border-radius: 3px;
            background-color: #f1f6f8;
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .incidents-in-progress {
    display: flex;
    width: 33rem;
  }

  .incidents-resolved {
    display: flex;
    width: 33rem;
  }
}
