@import '../../theme';

.all {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;

  .incident-type {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    border-radius: .4rem;
    margin: 2rem 0.5rem;

    .type-wrapper {
      width: 89.15vw;
      height: 65vh;
      box-sizing: border-box;
      padding-left: 2%;
      padding-right: 2%;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      .incident-type-status {
        font-family: 'DIN Pro Light';
        font-weight: 300;
        font-size: 1vw;
        position: absolute;
        top: 6vh;
      }

      .incident-type-underline {
        width: 8vw;
        height: 0.5vh;
        border-radius: 5px;
        position: absolute;
        top: 10.5vh;
      }

      .incident-type-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        width: 85.56vw;
        height: 61vh;
        overflow-x: scroll;
        padding-top: 12vh;

        &::-webkit-scrollbar {
          height: 9px;
        }

        &::-webkit-scrollbar-track {
          background-color: #f1f6f8;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d4d5d6;
          border-radius: 5px;
        }

        .type-no-incidents {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          font-weight: 300;
          align-self: center;
          align-items: center;
          justify-content: center;

          .folder {
            font-size: 5rem;
            margin-top: 7rem;
            width: 6rem;
            height: 5rem;
          }

          p {
            position: relative;
            text-align: center !important;
            vertical-align: middle !important;
            color: #3960ad;
            font-family: 'DIN Pro Extra Light';
          }

          .status {
            font-style: italic;
            color: rgba(57, 96, 173, 0.6);
          }
        }

        .dotted-line {
          height: 33vh;
          border-left: 1px dashed rgba(0, 0, 0, 0.15);
          width: 0;
          margin-top: 2%;
          margin-right: 3.4vw;

          &:last-child {
            display: none;
          }
        }

        .incident-card {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: 0 3.4vw 2vw 0;
          min-height: 9rem;
          height: auto;
          min-width: 0;
          width: 25rem;
          opacity: 0.8;
          border-radius: 5px;
          border: solid 1px rgba(0, 0, 0, 0.2);
          box-shadow: none;

          a {
            text-decoration: none !important;
            color: inherit !important;
          }

          .card-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0;

            .incident-report-date {
              margin: 3% 0 0 5%;
              color: #95989a;
              font-size: 0.85rem;
            }

            .incident-time {
              font-style: italic;
              margin: 3% 3% 0 1%;
              color: #95989a;
              font-size: 0.85rem;
            }

            .incident-flag {
              width: 2rem;
              height: 2rem;
              margin-left: auto;
              margin-top: 3%;
              margin-bottom: 0;

              .flag-image {
                width: 0.8rem;
                height: 1.2rem;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }

          .incident-subject {
            margin: 0 3% 3% 5%;
            color: #000000;
            font-size: 1.2rem;
          }

          .incident-description {
            margin: 0% 3% 3% 5%;
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.7);
          }

          .assigned-to {
            display: flex;
            flex-direction: row;
            margin-bottom: 1%;

            .assignee {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 4px;
              margin: 0% -2.5% 3% 5%;
              width: 2rem;
              height: 1rem;
              border-radius: 3px;
              font-size: 0.7rem;
            }

            .unassigned {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 6px;
              margin: 0% -2.5% 3% 5%;
              width: 4rem;
              height: 1rem;
              border-radius: 3px;
              background-color: #f1f6f8;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
