@import "../../theme";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.filters-container {
  @include flex-column;
  width: 95vw;
  align-items: center;
  position: relative;
  left: 2.3%;

  .toggle-section {
    @include flex-row;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    align-items: center;
    right: 2.7%;
    .toggle-label {
      font-weight: 200;
      font-size: 0.8em;
      color: map_get($grey, 300);
      margin: 0.2rem;
    }
  }

  .filters {
    @include flex-row;
    width: 90vw;
    height: 4rem;
    box-sizing: border-box;
    align-items: flex-end;

    .incidents-label {
      padding: 0 0.5rem;
      width: 180px;
      height: 58px;
      font-size: 2rem;
      font-style: lighter;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin-right: auto;
      font-family: 'DIN Pro Light';
    }

    .duration-filter {
      @include flex-row;
      height: 48px;
      width: 15rem;
      margin: 0 1rem;
      margin-right: 5px;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      .day {
        height: 40px;
        width: 4.5rem;
        border-radius: 4px;
        margin: 0.2rem 0.3rem;
        font-family: 'DIN Pro';
        font-size: 0.8rem;
        text-align: center;
        border: none;
        outline: none;
        background-color: #ffffff;
        &:hover, &:focus {
          background-color: #f1f6f8;
          cursor: pointer;
        }
      }
      .week {
        height: 40px;
        width: 4.5rem;
        border-radius: 4px;
        margin: 0.2rem 0.3rem;
        font-family: 'DIN Pro';
        font-size: 0.8rem;
        text-align: center;
        border: none;
        outline: none;
        background-color: #ffffff;
        &:hover, &:focus {
          background-color: #f1f6f8;
          cursor: pointer;
        }
      }
      .month {
        height: 40px;
        width: 4.5rem;
        border-radius: 4px;
        margin: 0.2rem 0.3rem;
        font-family: 'DIN Pro';
        font-size: 0.8rem;
        text-align: center;
        border: none;
        outline: none;
        background-color: #ffffff;
        &:hover, &:focus {
          background-color: #f1f6f8;
          cursor: pointer;
        }
      }
    }

    .flag-filter {
      max-width: 10rem !important;
      margin: 0 1rem;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .country-filter {
      max-width: 10rem !important;
      margin: 0 0.5rem;
    }

    .incidents-filter {
      display: none !important;
      max-width: 10rem !important;
      margin: 0 0.5rem;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .custom-menu {
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
  }
}
