@import "../../theme";

.navbar {
  background-color: map_get($white, 100);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10%;
  z-index: 2;
  position: relative;

  .logo {
    width: 6.5rem;
    height: 2rem;
    margin: 1.2rem 0 1rem 2rem;
  }

  .right-nav-section {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 3rem;
    align-items: center;

    .search-input {
      width: 9rem;
      height: 1.85rem;
      border: 0.05rem;
      border-width: 0.05rem;
      border-style: solid;
      border-color: #3960ad;
      border-radius: 0.5rem;
      padding-top: .1rem;
      padding-left: 2.5rem;
      margin: auto;
      outline: none;
      &::placeholder {
        font-family: 'DIN Pro Extra Light';
      }
    }
    &::before {
      position: absolute;
      content: "";
      background: url('/assets/images/search_icon.svg') no-repeat center;
      top: 0;
      bottom: 0;
      width: 1.15rem;
      margin-left: 0.7rem;
    }

    .notifications {
      cursor: pointer;
      margin: 0 1rem 0 1rem;

      .notification-icon {
        position: relative;
        top: 1.5rem;
        color: map_get($white, 100);
      }

      .badge {
        position: absolute;
        top:-25px;
        right:-5px;

        &>span {
          background-color: map_get($red, 300) !important;
          color: map_get($white, 100) !important;
        }
      }
      &:hover {
        background-color: #FCF5F5;
      }
    }

    .profile {
      position: relative;
      display: inline-block;
      z-index: 1;

      .dropdowntn {
        box-sizing: border-box !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 4rem;
        padding: 0.2rem;
        color: map_get($white, 100);
        cursor: pointer;

        .profile-img {
          padding: 0.5rem;
          background-color: map_get($white, 100) !important;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          margin: .5rem;
        }

        .user-name {
          color: map_get($black, 700);
          padding: 0.5rem;
        }

        .fa-caret-down {
          color: map_get($grey, 300);
          padding: 0.5rem;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        left: 4.5rem;
        width: 6rem;
        border-radius: .3rem;
        box-shadow: 0.1rem 0.1rem 1rem map_get($grey, 500);
        z-index: 1;
        cursor: pointer;

        span {
          display: block;
          color: map_get($black, 700);
          line-height: 3;

          &:hover {
            background-color: #FCF5F5;
          }
        }
      }

      &:hover {
        background-color: #FCF5F5;
      }

      &:hover .dropdown-content {
        display: block;
        text-align: center;
        background-color: map_get($white, 100);
      }
    }
  }
}
