// Global Rule Definitions
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@font-face {
  font-family: 'DIN Pro';
  src: url(/assets/fonts/DINPro.otf);
}

@font-face {
  font-family: 'DIN Pro Light';
  src: url(/assets/fonts/DINPro-Light.otf);
}

@font-face {
  font-family: 'DIN Pro Extra Light';
  src: url(/assets/fonts/DINPro-Extlight.otf);
}

body, div, h1, h2, h3, h4, p, a {
  font-family: 'DIN Pro', sans-serif;
  font-weight: 400;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  background-color: #f1f6f8;
}

$orange : (
  400: #FFAF30,
);

$red : (
 300: #ff5a56,
);

$white : (
  100: #fff,
);

$blue : (
  700: #406f8f,
  600: #0A21A8,
  500: #3359DF,
  400: #083f62,
  300: #127dc5,
  200: #358fe2,
  100: #97c5f0,
);

$grey : (
  700: #333333,
  600: #656565,
  500: #777777,
  400: #7C7C7C,
  300: #808080,
  200: #929292,
  100: #BCBCBC,
);

$black : (
  700 : #000,
);
